/*colors
  links: #8212C6;
  headerBackground: #6579FC;
  geolocationIconInside: #C3CAFA;
  relatedItemsBackground: #FDFDFD;
  error: #FF5C3F;
  darkgray: #575456;
  medgray: #716674;
  lightgray: #8D8D8D;
*/

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after  {
  clear: both;
}

body {
  color: #7E787F;
  font-size: .88em;
  line-height: 18pt;
  font-family: ;
  margin: 0;
}

a {
  text-decoration: none;
  color: #575456;
  cursor: pointer;
}

.text--centered {
  text-align: center;
}

ul { padding: 0; margin: 0;}
li { list-style: none; }

.content {
  display: flex;
  flex-flow: row wrap;
}

.contentMain {
  padding: 5em 0 8em 0;
  flex: auto;
  float: left;
}

.header {
  border-bottom: 1px solid #E9E9E9;
  background-color: #6579FC;
  border-bottom: 1px solid #5367EB;
}

.navItem {
  display: inline-block;
}

.navItem a {
  display: inline-block;
  padding: 1.1em .2em .2em;
  margin: 1.5em 1.3em 0;
  font-size: .85em;
  font-weight: 100;
  letter-spacing: .03em;
  border-bottom: 2px solid #6579FC;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.navItem a:hover {
  border-bottom: 2px solid #fff;
}

.navItem .header__active {
  border-bottom: 2px solid #fff;
}

.navItemHome a, .navItemHome a:hover, .navItemHome .header__active {
  border-bottom: 0px solid #6579FC;
}

.navItem:first-of-type a {
  margin-left: 0;
  padding-left: 0;
  padding: .5em .5em 0;
  margin-top: 0;
}

.navItem:first-of-type {
  float: left;
}

.navItemLink {
  color: #fff;
}

.row {
  max-width: 1280px;
  padding: 0 64px;
  display: block;
  width: auto;
}

section {
  padding: 3em 0;
}

.initialSection {
  padding-top: 4em;
}

.dataWrapper {
  position: relative;
}

.sidebar {
  flex: none;
  background-color: #FBFBFB;
  padding: 5em 1em 2em 0;
  margin-right: 4%;
  z-index: 2;
  border-right: 1px solid #F0ECEC;
  width: 175px;
  overflow: hidden;
}

.sidebar--observations {
  flex: .02 auto;
  z-index: 2;
  border-top: 1px solid #F0ECEC;
  margin-right: 2rem;
}

.sidebarSidebar {
  background-color: #FBFBFB;
  width: 10em;
  position: absolute;
  bottom: 0;
  top: 0;
}

.map {
  flex: 5 0px;
  height: 70vh;
}

.selectionmap__parent { position: relative; }

.selectionmap,
.selectionmap__parent {
  height: 100%;
  width: 100%;
}

.selectionmap__selection {
  border: 1px dashed black;
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.selected__map {
  width: 150px;
  height: 150px;
  margin-bottom: .5em;
  float: left;
  margin-right: 1.5em;
}
.selected__map .mapboxgl-ctrl { display: none; }

.selected {
  float: left;
  margin-bottom: 4em;
}

.header__title {
  display: inline-block;
}

.logo-main {
  width: 120px;
}

h1, h2, h3, h4, h5 { color: #575456; }
h1 { font-size: 1.3em; }
h2 { font-size: 2em; margin-bottom: 1em;}
h3 { font-size: 1.5em; margin-bottom: 1em;}
h4 { font-size: 1em; margin-bottom: .2em;}

.withDescription {
  margin-bottom: .2em;
}

.description {
  font-style: italic;
  font-size: .85em;
  margin-bottom: 1.5em;
  line-height: 1.6em;
  color: #8D8D8D;
}

.metadataWrapper {
  min-width: 400px;
}

.metadata {
  font-size: .85em;
  color: #8D8D8D;
}

.button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #8212C6;
  color: #fff;
  text-transform: uppercase;
  border: none;
  padding: .5em 2em .4em;
  font-size: .9em;
  font-weight: 600;
  letter-spacing: .02em;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.button:hover {
  background-color: #6E0AAB;
}

legend {
  font-weight: bold;
  margin-bottom: .3em;
  color: #716674;

}

fieldset {
  margin-bottom: 2em;
}

.label-interior {
  font-size: .86em;
  color: #716674;
}

.filters {
  max-height: 220px;
  overflow-y: auto;
  font-size: .85em;
}

.checkbox {
  margin-right: .1em;
  width: 1.8em;
  height: 1.8em;
  margin-top: 0em;
  float: left;
}

.filterClear {
  display: block;
  font-size: .85em;
  color: #8212C6;
  margin: -1em 0 2em;
}

.filterWrapper {
  margin-bottom: .1em;
}

.filterWrapper label {
  display: inline-block;
}

.export {
  float: right;
}

.floatElementLeft {
  float: left;
}

.navTabs {
  border-bottom: 1px solid #F0ECEC;
  margin-bottom: 3em;
}

.navTabsElement {
  cursor: pointer;
  display: inline-block;
  margin: 0 .2em;
  padding: .5em .8em;
  color: #8D8D8D;
}

.navTabsElement.active {
  border-bottom: 2px solid #8212C6;
  color: #575456;
}

.surveyInputs {
  margin-bottom: 3em;
  width: 600px;
  position: relative;
}

.importedSurvey {
  margin-bottom: 4em;
  padding: 1rem 0 3em;
  border-bottom: 1px solid #F0ECEC;
}

.surveyInputGeo {
  position: absolute;
  bottom: 2em;
  left: 18.5em;
}

.surveyMeta {
  margin-bottom: 1em;
}

.react-datepicker__input-container input {
  background: #ffffff;
  font-size: .88em;
  border-radius: 4px;
  border: 1px solid #E0E0E0;
  line-height: 16px;
  padding: 6px 10px 5px;
}

.clickable {
  cursor: pointer;
}

.link--primary {
  text-transform: uppercase;
  border-bottom: solid 1px #00BFA5;
  color: #00BFA5;
  font-size: 0.75rem;
  font-weight: 300;
}

.link--lowercase {
  text-transform: lowercase;
}

.link--primary--card {
  font-size: .75em;
  margin: 1.2em 0 .6em;
  display: inline-block;
}

.link--secondary {
  color: #8D8D8D;
  font-size: 0.75rem;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: solid 1px #8D8D8D;
}

.link--add {
  text-transform: uppercase;
  color: #00BFA5;
  font-size: 0.75rem;
  font-weight: 400;
}

.link--primary:hover {
  opacity: 0.7;
}

.link--page {
  font-size: 0.675rem;
  line-height: 0.75rem;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
}

.meta__group {
  padding: 1rem 1rem 2rem 0;
  max-width: 18rem;
}

.card__image {
  width: 55px;
  height: 55px;
  display: block;
  margin: 0 auto 1em;
}

.section__about {
  margin: 2em 0;
  max-width: 750px;
}

.paragraph--block p {
  margin-bottom: 1em;
}

.paragraph--block {
  max-width: 700px;
  margin-bottom: 2.5em;
}

.img-about {
  max-width: 550px;
  border: 1px solid #ccc;
  margin: 2em 0;
}
