ul { padding-left: 0; }
li { list-style: none; }

.content {
  display: flex;
  flex-flow: row wrap;
}

.header {
  width: 100%;
}

.sidebar {
  flex: 1 auto;
}

.map {
  flex: 5 0px;
}

.header__title {
  display: inline-block;
}

.header__active {
  border-bottom: 1px solid black;
}

.map {
  height: 70vh;
}
