.modal__below {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.modal {
  background-color: #666;
  opacity: 0.95;
  z-index: 99;
}

.modal:after {
  box-shadow: inset 0 0 25em #000;
  content: "";
  z-index: 2;
}

.modal, .modal:after {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal__inner {
  position: fixed;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;

  background-color: white;
  z-index: 100;
}

.smallModal .modal__inner{
  border-radius: 5px;
  top: 20%;
  right: 20%;
  bottom: auto;
  left: 20%;
  padding: 2em;
  opacity: 0.9;
  text-align: center;
}

.confirmButtons {
  margin-top: 1em;
}
