.tableScrollContainer {
  overflow-x: scroll;
  overflow-y: auto;
  margin-bottom: 3em;
}

th {
  text-align: left;
}

td, th {
  padding: 0.5rem;
  font-size: 0.75rem;
  border-bottom: 1px solid #F0ECEC;
}

td {
  padding: 1.2em 0.5rem;
}

.table--num {
  font-weight: 600;
  margin-bottom: 1em;
  color: #575456;
}

.tableToggle {
  position: relative;
  cursor: pointer;
  color: #575456;
}

.tableToggle:after {
  position: absolute;
  background-image: url(./icons/coordinator-icon-toggle.svg);
  content: ' ';
  width: 10px;
  height: 13px;
  background-size: 10px 13px;
  display: inline-block;
  margin-left: 6px;
  bottom: 13px;
}

.tableToggleAsc:after,
.tableToggleDesc:after {
  width: 7px;
  height: 7px;
  background-size: 7px 7px;
  margin-left: 6px;
}

.tableToggleAsc:after {
  background-image: url(./icons/coordinator-icon-chevron-up.svg);
  bottom: 18px;
}

.tableToggleDesc:after {
  background-image: url(./icons/coordinator-icon-chevron-down.svg);
}

.pagination li {
  display: inline-block;
  cursor: pointer;
  margin-right: 1em;
  padding: 0 .2em;
}

.pagination li:first-of-type {
  margin-right: 2.5em;
}

.pagination li:last-of-type {
  margin-left: 1.5em;
}

.pagination li.active,
.pagination li:hover {
  border-bottom: 1px solid #8212C6;
  color: #8212C6;
}

.pagination li.disabled {
  color: #DDDDDD;
  pointer-events: none;
}

.pagination li.disabled:hover {
  cursor: default;
  text-decoration: none;
}

.tableClickableRow {
  cursor: pointer;
  transition: all 0.6s ease 0.2s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
}

.tableClickableRow:hover {
  background-color: #F7F7F7;
}
