.data__subtitle {
	text-transform: uppercase;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.data__tag {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 300;
}

.data__tag-def {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.data__tag-def:last-child {
  margin-bottom: 0rem;
}

.meta__prose {
  margin-bottom: 1rem;
  font-size: 0.75rem;
}

.subtitle {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: solid 1px #F0ECEC;
  width: 650px;
  color: #8D8D8D;
}